<% data_source = '' %>
  <% Course.joins(:department).select('courses.id, courses.number, courses.name, courses.description, departments.acronym').all.each do |course| %>
  <%  data_source += "\"#{course.acronym} #{course.number}\"," %>
<% end %>
<% data_source = data_source[0, (data_source.length() -1)] %>
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Course Prophet</title>
<!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <!--for when viewport is narrow on mobile devices-->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand">Course Prophet</a>
        <div class="nav-collapse"> <!--what gets collapsed when the the viewport is narrow-->
          <ul class="nav">
            <li class="active"><a>Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="hero-unit">
          <h1>Plan your four years.</h1>
          <p>Choose your major and enter the classes you've already taken, get a four year plan back. <span id="billoreilly" data-content="<img src=&quot;http://cdn.memegenerator.net/instances/400x/15547039.jpg&quot;/>">You can't explain that.</span></p>
          <p>
            <a class="btn btn-primary btn-large" id="getstarted">Get Started</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row" id="step1wrapper">
      <div class="span8 offset2">
        <form class="well form-horizontal" id="step1">
          <fieldset>
            <legend>1. Major<!-- and General Education Requirements--></legend>
            <div class="control-group">
              <label class="control-label" for="maxunits">Major</label>
              <div class="controls">
                <select name="major" class="span3" id="major">
                  <% Major.all.each do |major| %>
                  <option value = "<%=major.id%>"><%=major.name%></option>
                  <% end %>
                </select>
              </div>
            </div>
            <!-- <div class="control-group">
              <label class="control-label" for="classsearch">Include GE Requirements</label>
              <div class="controls">
                <label class="checkbox" style="width: 30px;">
                  <input type="checkbox" name="includeges" value="true" id="includeges"> Yes
                </label>
                <p class="help-block">Include your college's GE requirements in your four year plan.</p>
              </div>
            </div>
            <div class="control-group" id="collegeselector">
              <label class="control-label" for="classsearch">College</label>
              <div class="controls">
                <select name="college" class="span3" id="college">
                  <% College.all.each do |college| %>
                  <option value="<%=college.id%>"><%=college.name%></option>
                  <% end %>
                </select>
              </div>
            </div> -->
          </fieldset>
          <div style="text-align: right;">
            <a class="btn btn-primary btn-large" id="step1submit">Next</a>
          </div>
        </form>
      </div>
    </div>
    <div class="row" id="step2wrapper">
      <div class="span8 offset2">
        <form class="well form-horizontal" id="step2">
          <fieldset>
            <legend>2. Completed Classes</legend>
            <div class="control-group">
              <!-- <label class="control-label" for="maxunits">Max Units Per Quarter</label>
              <div class="controls"> -->
                <input type="hidden" id="maxunits" value = '12' class="input-xlarge span1">
                <!-- <p class="help-block">Enter maximum number of units you want to take per quarter.</p>-->
              <!-- </div> -->
            </div>
            <div class="control-group">
              <label class="control-label" for="classsearch">Class Search</label>
              <div class="controls">
                <input type="text" id="classsearch" class="input-xlarge span2" style="margin: 0 auto;" data-provide="typeahead" data-source="[<%=data_source%>]" data-items="8">
                <a class="btn" id="addclass">Add</a>
                <p class="help-block">Enter classes that you've already taken. These will be factored into your four year plan.</p>
                <a id="showallclasses">Show all classes...</a>
                <div id="classlist">
                  <% Course.joins(:department).select('courses.id, courses.number, courses.name, courses.description, departments.acronym').all.each do |course| %>
                  <label class="checkbox classes">
                    <input type="checkbox" name="classestaken[]" value='<%=course.id%>' data-course="<%=course.acronym%> <%=course.number%>" />
                      <%=course.name%>
                  </label>
                  <% end %>
                </div>
              </div>
            </div>
            <input type="hidden" id="realmajor" name="major" value=""/>
            <input type="hidden" id="realcollege" name="college" value=""/>
          </fieldset>
          <div style="text-align: right;">
            <a class="btn btn-primary btn-large" id="step2submit">Next</a>
          </div>
        </form>
      </div>
    </div>
    <div class="row" id="resultswrapper">
      <div class="span8 offset2">
        <div id = "plan" class="well">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span8 offset2">
        <div style="height: 1000px">
        </div>
      </div>
    </div>
  </div>
</body>
</html>